//colors

$col-1: #065b80;
$col-2: #50649e;
$col-3: #9465a8;
$col-4: #d06499;
$col-5: #f77077;
$col-6: #ff904f;

$col-2-1: #7e8cbe;
$col-2-3: #abb5de;
$col-2-4: #dae1ff;

$col-7: #668aa4;
$col-8: #abbcca;
$col-9: #f1f1f1;
$col-10: #fdd1ba;
$col-11: #ffb184;

//screens
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;
